---
name: Krita Extension Manager
nickname: Kritex
author:
    name: tecc
    link: https://invent.kde.org/tecc
repository:
    name: tecc/krita
    link: https://invent.kde.org/tecc/krita
    branch: tecc/kritex
type: Feature Request
revision: 1
---
<!--
  ~ SPDX-FileCopyrightText: 2021 Cae Lundin <tecc@tecc.me>
  ~
  ~ SPDX-License-Identifier: LGPL-2.1-or-later OR LicenseRef-KDE-Accepted-LGPL
  -->

<div class="page" data-page="2">
    <div data-preset="header"></div>
    <div data-root data-name="Description">
        <h1>Description</h1>
        <div>
            Krita
        </div>
    </div>
</div>
<div class="page" data-page="3">
    <div data-preset="header"></div>
</div>
